body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #485268;
  margin: 0;
  background: #E5E5E5
}
.page {
  width: 595px;
  margin: 0 auto;
}
strong {
  font-weight: 600;
}
/* #region about */
.about {
  display: flex;
  margin: 0;
  padding: 32px 40px 24px 40px;;
  background-color: #E25544;
  color: #FFFFFF;
}
.about_foto {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  margin-left: 50px;
}
.about_name {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
 }
.about_role {
  margin: 0 0 8px 0;
  font-size: 12px;
  line-height: 15px;
 }

.about_text {
  margin: 0;
 }
 /* #endregion */

 .main {
  padding: 0 40px;
  background-color: #fff;
 }

  /* #region contacts */
 .contacts {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
 }
 .contacts_link {
  text-decoration: none;
  color: #485268;
 }
 /* #endregion */

 /* #region info */
 .info {
display: flex;
justify-content: space-between;
padding: 24px 0;
border-top: 1px solid #DEE2ED;
 }

 .info_title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #E25544;
  }

 .info_content {
  width: 360px;
  }
  /* #endregion */
 
 /* #region job */
 .job {
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
  margin-top: 24px;
 }

 .job:first-child {
  margin-top: 0;
 }

  .job_title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
 }

 .job_description {
  margin: 0;
  margin-top: 8px;
 }
/* #endregion */

 /* #region study */
 .study {
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
  margin-top: 24px;
 }

 .study:first-child {
  margin-top: 0;
 }

  .study_title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
 }

 .study_description {
  margin: 0;
  margin-top: 8px;
 }
/* #endregion */

/* #region skills */
 .skills {
display: flex;
 }
 .skills__list {
  box-sizing: border-box;
  margin: 0;
  width: 50%;
 border-left: 1px dashed #DEE2ED;
 padding-left: 8px;
 list-style: none;
 }
 .skills__item {
  margin-top: 8px;
 }
 .skills__item:first-child {
  margin-top: 0px;
 }
/* #endregion */

/* #region tools */
.tools {
  display: flex;
   }

   .tools__list {
    box-sizing: border-box;
    margin: 0;
    width: 50%;
    border-left: 1px dashed #DEE2ED;
    padding-left: 8px;
    list-style: none;
   }

   .tools__item {
    margin-top: 8px;
   }
   
   .tools__item:first-child {
    margin-top: 0px;
   }
   /* #endregion */

